/* Sider */
.ant-menu-inline {
  border-right: 0px !important;
}

/* Header */
.ant-menu-horizontal {
  /* background: var(--primary-bg); */ /* HeaderInfo 会不连贯 */
  background: rgb(var(--article-bg-rgb));

  border-bottom: 0px !important
}
/* Header popup */
.ant-menu.ant-menu-sub.ant-menu-vertical {
  background: var(--primary-bg);
}

.ant-divider,
.ant-divider::before,
.ant-divider::after {
  border-top: 1px solid var(--lighter-text-color) !important;
}

.ant-divider-horizontal.ant-divider-with-text {
  border-top: 0px !important;
}

.ant-divider-vertical {
  border-left: 1px solid var(--lighter-text-color) !important;
}

.ant-spin-nested-loading,
.ant-spin-container {
  height: 100%;
  overflow: hidden;
}

/* sider menu透明 */
.ant-menu.ant-menu-root.ant-menu-inline {
  background: transparent !important;
}

/* menu selected */
.ant-menu-item.ant-menu-item-selected.ant-menu-item-only-child {
  background-color: rgba(var(--article-bg), 0.6) !important;
}

/* 抽屉 */
.ant-drawer-header,
.ant-drawer-body {
  background: var(--primary-bg) !important;
  /* background: rgb(var(--article-bg-rgb)) !important; */
}
.ant-drawer-title {
  color: var(--primary-text-color) !important;
}
.ant-drawer-close {
  color: var(--primary-text-color) !important;
}
