/* Sider */
.ant-menu-inline{
  border-right: 0px !important;
}

/* Header */
.ant-menu-horizontal{
  line-height: 3.5rem !important;
  width: 100%;
  border-bottom: 0px !important
}

body.dark .ant-divider{
  background-color: var(--lighter-text-color);
}

.ant-spin-nested-loading, .ant-spin-container{
  height: 100%;
}
