.frame
  margin: 0 auto
  width: 100%
  max-height: 100vh
  min-height: 100vh
  // max-width: 1500px
  display: flex

@media (max-width:768px)
  .frameLeft
    display: none

.frameLeft
  flex-shrink: 0
  flex-basis: 18%
  min-width: 160px
  overflow: auto

.frameRight
  flex-basis: 100%
  background-color: var(--right-bg-color)
  overflow: auto
