@import '~antd/dist/antd.css'

#__next
  height: 100%

html,
body
  overflow: hidden
  padding: 0
  margin: 0
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif
  --primary-bg-color: #fff
  --secondary-bg-color: #f7f8fa
  --primary-text-color: #000
  --lighter-text-color: #888
  --shadow-color: #ccc
  color-scheme: light
  --blockquote-color: #7CC2A7

body.dark
  --primary-bg-color: #1a1a1b
  --secondary-bg-color: #101010
  --primary-text-color: #fff
  --lighter-text-color: #999
  --shadow-color: #333
  color-scheme: dark
  p, h1, h2, h3, h4, h5, h6, ul, ol, table, div
    color: var(--primary-text-color)

a
  color: inherit
  text-decoration: none

*
  box-sizing: border-box
